// Reset css for all the application
html {
    margin:0;
    position: relative;
    height:100%;
    &.md {
        --ion-default-font: 'MontserratSemiBold'; 
    }
}

body {
    height: 100%;
}


.bold-font-family-text {
    @include set-font-family('MontserratBold');
}

.font-size-14 {
    @include font-size-px(14);
}

h1, h2 {
    color:$color-white;
    margin: 0;
}

h2 {
    @include set-font-family('MontserratLight'); 
}
h3 {
    color:$color-black;
    padding: 10px;
}
.no-mb {
    margin-bottom: 0!important;
}
.no-mt {
    margin-top:0!important;
}
.no-padding {
    padding:0
}
.no-padding-right {
    padding:0
}
.no-padding-top {
    padding-top: 0;
}
.padding-left-10 {
    padding-left: 10px;
}
.ion-col {
    padding:0
}