/** This css will contain all typography rules**/
@font-face {
    font-family: 'MontserratSemiBold';
    src: url(/assets/fonts/montserrat/Montserrat-SemiBold.ttf);
  }
@font-face {
    font-family: 'MontserratLight';
    src: url(/assets/fonts/montserrat/Montserrat-Light.ttf);
}

@font-face {
  font-family: 'MontserratRegular';
  src: url(/assets/fonts/montserrat/Montserrat-Regular.ttf);
}

@font-face {
  font-family: 'MontserratMedium';
  src: url(/assets/fonts/montserrat/Montserrat-Medium.ttf);
}

@font-face {
  font-family: 'MontserratBold';
  src: url(/assets/fonts/montserrat/Montserrat-Bold.ttf);
}
