.device-association-list {
    background-color: $color-white;
    color:$color-black;
    border-radius: 10px;
    margin: 5px 15px 12px;
    padding:7px;
    @include set-font-family('MontserratRegular'); 
    @include font-size-px(11);
    color:$ion-device-list-text-color;
    .ion-color-primary{ 
        @include font-size-px(12);
        height: 35px;
        --border-radius: 12px;
    }

}
.ion-col-date-heading {
    margin:0 15px;
    &:before {
        content: "";
        display: block;
        position: absolute;
        top:14px;
        left: 0;
        width: 100%;
        border: thin solid $ion-date-heading-border-color;
        z-index: 0;
    }
    span {
        color: $ion-date-heading-text-color;
        @include font-size-px(14);
        background-color:$bg-color-content;
        z-index: 1;
        padding: 0 3px;
        position: relative;
    }
}

.shipment-status-text {
    @include set-font-family('MontserratMedium'); 
    background-color: $ion-list-status-text-bg-color;
    padding: 3px;
    border-radius: 6px;
}

.associate-input-label-row {
    margin-top: 5px;
    padding-top: 2px;
    border-top:thin solid $ion-list-border-top-color;

}

.device-input {
  border:1px solid $ion-list-input-border-color;
  border-radius: 15px;
  &.ng-invalid {
    border-color:$color-error;
  }
}

.ion-device-btn-container {
    padding:3px 0 0;
}

.device-container {
    position: relative;
}

.device-autocomplete-list{
    position: absolute;
    top: 45px;
    width: 62%;
    left: 10px;
    background: $color-white;
    border: 1px solid $color-grey-1;
    padding: 10px;
    z-index: 3;
    border-radius: 5px;
    .device-list-item {
        padding: 5px 0;
    }
}

.po-list-container {
    height:20px;
    overflow: hidden;
    &.toggle-po-container {
        height:auto;
        overflow: visible;
    }
}

.arrow-icon{
    width: 0;
    height: 0;
    border-style: solid;    
    border-width: 10px 10px 0 10px;
    border-color: $header-bg-color transparent transparent transparent;
    position: absolute;
    right:0;
    top: 10%;
    &.down {
        border-width: 0 10px 10px 10px;
        border-color: transparent transparent $header-bg-color transparent;
    }
}

.device-association-grey-bg{
    --background: url("/assets/images/bg-white-gray.png")center center / 100% auto no-repeat; 
    &.device-association-empty-bg {
        --background: url("/assets/images/no-shipment-bg-text.png")center center / 100% auto no-repeat;
    }
    height: 82%;
    overflow: auto;
}

.reset-filter {
    span {
        background-color:$header-bg-color;
        padding: 5px 10px;
        border-radius: 6px;
        color: $color-white;
        @include font-size-px(13);
    }
}

.po-item .po-item-value {
    padding-right: 24px;
    position: relative;
}

.scroll-to-top {
    position: fixed;
    bottom: 72px;
    right: 0;
    z-index: 11;
    --border-radius: 40%;
    opacity: .65;
    cursor: pointer;
    --background:#2B3F5A;
}

.recordCount{
    color:#2B3F5A;
    @include font-size-px(13);
    font-family: 'MontserratLight';
    font-weight: bold;
}