.login-page {
    min-height: 100%;
    ion-card {
        box-shadow: none;
        margin: 0;
        border-radius: 0;
        background-color: transparent;
    }
    h1 {
        @include font-size-px(25);
    }
    h2 {
        @include font-size-px(50);
    }
    .background {
        background: url("/assets/images/login-bg.png") no-repeat;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 100%;
        z-index: 0;
        position: relative;
        &:before {
            content: "";
            position: absolute;
            background: rgba(0, 0, 0, 0.8);
            left: 0;
            top: 0;
            left: 0;
            bottom: 0;
            display: block;
            width: 100%;
        }
    }
    ion-item {
        margin: 5px 0 3px;
        border-radius: 10px;
        min-height: 52px;
        border-width: 1px;
        border-color: transparent;
        border-style: solid;
    }
    .login-btn {
        width: 100%;
    }
    .h-100 {
        height: 100%;
    }
}

.forgot-password-link {
    color: $color-white;
    @include font-size-px(12);
    text-decoration: none;
}

.ust-omni-logo-container {
    margin-top: 70px;
}

.password-toggle-icon {
    position: absolute;
    top: 20%;
    right: 0;
    height: 33px;
    width: 42px;
    border: 0;
    background: url(/assets/images/hidden-passowrd-svg.svg) 0 0 no-repeat;
    background-size: 42px 33px;
    cursor: pointer;
    &.view-password {
        background-image: url(/assets/images/view-password-svg.svg);
    }
}

.error-msg-generic {
    &.text-danger {
        color: $color-error;
        @include set-font-family('MontserratSemiBold');
        &::before {
            font-weight: bold;
        }
    }
}

.buisness-partner-logo-container {
    height: 84px;
}