/** This file contains all variables **/
$color-white:#fff;
$color-black:#000;
$color-input-placeholder:#78849E;
$color-input-onfocused:#000;
$color-error: #FF0000;
$color-error-message:#F2F2F2;
$color-grey-1:#ccc;
// Header Colors
$header-bg-color:#2B3F5A;
$font-icons-color-for-header:#F3F3F3;

// Device association colors
$bg-color-content:#F6F8FF;
$ion-device-list-text-color:#2C2C2C;
$ion-date-heading-border-color:#E2E5E8;
$ion-date-heading-text-color:#212121;
$ion-list-status-text-bg-color:#D9F2FF;
$ion-list-border-top-color:#2A383D14;
$ion-list-input-border-color:#005683A8;

// Footer colors
$footer-color-icon-bg:#0097D4BD;