<ion-app>
    <ion-router-outlet></ion-router-outlet>
</ion-app>
<div *ngIf="showSplash" class="splash">
    <div class="ion-text-center no-padding logo"><img src="../assets/images/client-logo.jpg" /></div>
    <div>
        <ion-col class="ion-text-center no-padding">
            <h1>Shipment Tracker</h1>
        </ion-col>
    </div>
    <div>
        <ion-col class="ion-text-center no-padding">
            <h3>Version: 1.0</h3>
        </ion-col>
    </div>
</div>