#container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

#container strong {
    font-size: 20px;
    line-height: 26px;
}

#container p {
    font-size: 16px;
    line-height: 22px;
    color: #8c8c8c;
    margin: 0;
}

#container a {
    text-decoration: none;
}

.background {
    height: 100%;
}

ion-card.h-100 {
    height: 100%;
}

.buisness-partner-logo-container {
    margin-top: -25px;
}

.login-btn-container {
    margin-top: 60px;
}

.ust-omni-logo-container {
    margin-top: 0px;
}