<!-- <ion-header [translucent]="true">
    <ion-toolbar color="primary">
        <ion-title>
            Shipment Tracking
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <div id="container">
        <strong>Welcome to Shipment Tracking</strong>
        <ion-button expand="block" color="secondary" size="small" (click)="registerDevice()">Register Device</ion-button>
         {{this.devicedetails.deviceId}}
    </div>
</ion-content> -->

<ion-content class="login-page">
    <div class="background">
        <ion-card class="h-100">
            <ion-card-header>
                <ion-card-title>
                    <ion-row>
                        <ion-col class="ion-text-center no-padding"><img src="../../assets/images/client-logo.jpg" /></ion-col>
                    </ion-row>
                    <ion-row class="buisness-partner-logo-container">
                        <ion-col size="12" class="ion-text-center no-padding">
                            <h1 class="ion-text-center">SHIPMENT TRACKING</h1>
                        </ion-col>

                    </ion-row>
                </ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <ion-row class="login-btn-container">
                    <ion-col class="ion-text-center">
                        <ion-button color="primary" class="ion-text-center no-padding login-btn" (click)="registerDevice()">Register Device</ion-button>
                    </ion-col>
                </ion-row>

            </ion-card-content>
            <ion-card-content>
                <ion-row class="ust-omni-logo-container">
                    <ion-col class="ion-text-center"> <img src="../../assets/images/Ust-omni-logo.png"></ion-col>
                </ion-row>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>