/** This file contains all footer related styles **/
app-footer{
    background-color: $header-bg-color;
    padding:10px 0 5px;
    width: 100%;
    z-index: 999;
}
.footer-icon {
    height: 50px;
    width:50px;
    text-align: center;
    display: block;
    background: url("/assets/images/home.svg") no-repeat transparent;  
    margin:0 auto;    
    border-radius: 100%;
    background-position: center center;
    &.selected {        
        background-color:$footer-color-icon-bg;
    }
    &.history {
        background: url("/assets/images/history.svg") no-repeat;
        background-size: 100% auto;
    }
    &.profile {
        background: url("/assets/images/profile.svg") no-repeat;
        background-size: 100% auto;
    }
}