/** This file contains all header css **/
app-header{
    background-color: $header-bg-color;
    padding: 5px;
    h1 {
        font-size: 18px;
    }
}

.header-container {
    padding-right: 10px;
}
.header-icon-col {
    padding-top: 7px;
    .header-icon {
        height: 30px;
        width:35px;
        text-align: center;
        display: block;
        background: url("/assets/images/calendar.svg") no-repeat;  
        background-size: 100% auto;
        &.calendar {
            &.selected {
                background-image: url("/assets/images/calender-selected.svg");
            }
        }
        &.sort {
            background: url("/assets/images/sort.svg") no-repeat;
            &.selected {
                background-image: url("/assets/images/sortactive.svg");
            }
        }
        &.search {
            background: url("/assets/images/search.svg") no-repeat;
        }        
    }
    &.menu-icon {
        padding-top: 15px;
        button {
            background-color: transparent;
        }
        .fa-ellipsis-v {
            font-size: 20px;
            color:$color-white;
        }
    }
}

.header-calendar-container {
    position: relative;
    .calendar-div {
        position: absolute;
        top: 4px;
        left: 0;
        background: $color-white;
        z-index: 3;
        border: 1px solid $color-grey-1;
        box-shadow: 0px 1px 1px $color-grey-1;
        width: 100%;
    }
}
.search-input-container {
    padding-bottom: 3px;
    .fa-times {
        font-size: 18px;
        color: $color-white;
        margin-top: 11px;
    }
    ion-input {
        color:$color-white;
        font-family: MontserratLight;
    }
}
.calender-close {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $color-black;
    color: $color-white;
    padding: 5px 10px;
}

.menu-popover {
    --width:auto;
    .popover-content ion-label {
        padding-left: 10px;
        cursor: pointer;
        @include font-size-px(13);
        margin-top: 5px;
        margin-bottom: 5px;
    }
    ion-item {
        --min-height: 10px!important;
    }
}

.splash {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999;
    background:$color-white;
    color:$color-black;
    h3, h1 {
        color: $color-black;
    }
    div {
        width: 100%;
        text-align: center;
        &.logo {
            margin-top:49%;
        }
    }
}
