
.label-floating {
    &.sc-ion-label-md-h, .sc-ion-label-md-h ,
    &.sc-ion-label-ios-h, .sc-ion-label-ios-h {
        color:$color-input-placeholder;
    }
}

.item-label-floating, 
.item-label-floating  {
     &.sc-ion-input-md-h, .sc-ion-input-md-h {
        --padding-top: 0!important;
        --padding-bottom: 0!important;
        padding-left: 12px!important;
    }
}

.item-has-focus, .item-has-value {
    &.label-floating, .label-floating {
        &.sc-ion-label-md-h, .sc-ion-label-md-h, &.sc-ion-label-ios-h, .sc-ion-label-ios-h {
              color:$color-input-placeholder;
        }                                   
    }
}

.label-floating {        
    &.sc-ion-label-md-h, .sc-ion-label-md-h, &.sc-ion-label-ios-h, .sc-ion-label-ios-h {
        padding-left: 16px;
    }
    &.sc-ion-label-md-h, &.sc-ion-label-ios-h {
       transform: translate3d(0,  60%,  0);
    }
}

.item{
    &.sc-ion-label-md-h, .sc-ion-label-md-h  {
        color:$color-input-placeholder;

    }
    &.ion-invalid.ion-touched {
        border-color:$color-error;
        --inner-box-shadow:inset 1px 0px 8px rgba(255, 0, 0, .5)!important;
    }
    .native-input.sc-ion-input-md {
       @include font-size-px(16);       
       --padding-start: 10px;
       --placeholder-opacity: 1;
       &::placeholder {
        color:$color-input-placeholder;
       }
     
    }
}

.sc-ion-input-md-h {
    @include font-size-px(14);   
}

.text-danger {
    color:$color-error-message;
    @include set-font-family('MontserratLight'); 
    padding-left: 23px;
    margin-left: 4px;
    position: relative;
    @include font-size-px(14);
    &::before{
        content: "!";
        position: absolute;
        left: 0;
        top: 0;
        background-color:$color-white;
        display: inline-block;
        vertical-align: middle;
        color: $color-error;
        width: 15px;
        height: 15px;
        text-align: center;
        border-radius: 100%;
        @include set-font-family('MontserratSemiBold'); 
        line-height: 1.2;
        @include font-size-px(12);
    }
}

ion-item{
    --inner-box-shadow: none!important;
    --padding-top:0 !important;
    --padding-bottom:0!important;
    --min-height:52px!important;
    --padding-start :0 !important;
}

