<div class="data-container">
    <ion-header>
        <ion-toolbar color="primary">
            <ion-buttons slot="start">
                <ion-back-button defaultHref="home"></ion-back-button>
            </ion-buttons>
            <ion-title>SHIPMENT TRACKING</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content [fullscreen]="true">

        <ion-card>
            <ion-card-content>
                <ion-card-title><strong>Device Details</strong></ion-card-title>
                <p>DeviceID : MOB-37</p>
                <p>Device Unique ID : MOB-29963556</p>
            </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-header>
                <ion-card-title><strong>Start Device Tracking</strong></ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <p>To start The tracking you should enable tracking feature. To enable it click on below button</p>
                <ion-row class="login-btn-container">
                    <ion-col>
                        <ion-button color="primary" class="no-padding login-btn" (click)="getLocation()" [disabled]=isEnabled>Enable Tracking</ion-button>
                    </ion-col>
                </ion-row>
            </ion-card-content>

        </ion-card>


        <ion-card>
            <ion-card-header>
                <ion-card-title><strong>Location Details</strong></ion-card-title>
                <p>Location latitude: {{latitude}}</p>
                <p>Location longitude: {{longitude}}</p>
            </ion-card-header>
        </ion-card>
        <ion-card>

            <div class="map-wrapper">
                <ion-card-title><strong>Location on Map</strong></ion-card-title>
                <div #map id="map" style="width:100%;height:100%"></div>
            </div>
        </ion-card>
    </ion-content>
</div>